body {
    background: #000;
    color: aliceblue;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.contact {
    color: #696969;
    font-family: "Instrument Serif";
    font-weight: lighter;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.work,
.about {
    font-family: "Instrument Serif";
    font-weight: normal;
    font-size: 41px;
    color: #696969;
    letter-spacing: 0.15em;
    line-height: 1;
    text-transform: lowercase;
    transform: rotate(90deg);
    transform-origin: center;
    transition: transform 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.blog {
    font-family: "Instrument Serif";
    font-weight: normal;
    font-size: 41px;
    color: #696969;
    letter-spacing: 0.15em;
    line-height: 1;
    text-transform: uppercase;
    transform: rotate(270deg);
    transform-origin: center;
    transition: transform 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.about:hover,
.blog:hover,
.work:hover {
    transform: translateY(-10px) rotate(90deg);
    color: aliceblue;
    cursor: pointer;
}

.blog:hover {
    transform: translateY(-10px) rotate(270deg);
    cursor: pointer;
}
